/* Navbar */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 50%;
    margin-left: auto;
}
/* Hero Image */
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
/* Footer */
footer {
    background-color: #373738;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}